//@import "compass/css3";

$backgroundColor: #2E2633;
$fontColor: #EFFFCD;
$initalGapSize: 250;
$animationTime: 8s;

.stroke {
  stroke: lighten($fontColor, 20%);
  stroke-width: .5px;
  stroke-dasharray: 0 $initalGapSize;
  stroke-opacity: 1;
  fill: none;
  animation: stroke_offset $animationTime infinite;
  animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@keyframes stroke_offset {
  25% {stroke-dasharray: 0 $initalGapSize;  stroke-opacity: 1; }
  50% {stroke-dasharray: $initalGapSize 0;  stroke-opacity: .75; }
  55% {stroke-dasharray: $initalGapSize 0;  stroke-opacity: 0; }
  70% {stroke-dasharray: $initalGapSize 0;  stroke-opacity: 0; }
  75% {stroke-dasharray: $initalGapSize 0;  stroke-opacity: .75; }
  100% {stroke-dasharray: 0 $initalGapSize; stroke-opacity: 1; }
}

.fill {
  fill: $fontColor;
  fill-opacity: 0;
  animation: fill_offset $animationTime infinite;
  animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}


@keyframes fill_offset {
  25% {fill-opacity: 0;}
  35% {fill-opacity: 0;}
  50% {fill-opacity: 1;}
  70% {fill-opacity: 1;}
  90% {fill-opacity: 0;}
  100% {fill-opacity: 0;}
}


#fade-text {
  font-family: 'Slabo 27px', Helvetica, Arial, sans-serif;
  font-size: .5em;
}


svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  background: $backgroundColor;
  font: 16em Arial;
}

html, body {
  height: 100%;
}
