@import "style.css";
@import "history.css";

table{
  width: 80%;
  border-spacing: 0;
  margin: 10%;
  font-size: 20px;
  -webkit-text-size-adjust: 100%;
}

table th{
  border-bottom: solid 2px #000B00;
  padding: 20px 0;
  width: 40%;
}

table td{
  border-bottom: solid 2px #ddd;
  text-align: center;
  padding: 20px 0;
}

#history {
  margin: 10%;
  text-align: left;
}

.hist {
  margin-top: 11%;
}
