@import "style.css";

table{
  width: 90%;
  border-spacing: 0;
  margin: 10% 10% 10% 10%;
  font-size: 20px;
  -webkit-text-size-adjust: 100%;
}

table th{
  border-bottom: solid 2px #000B00;
  padding: 30px 0;
}

table td{
  border-bottom: solid 2px #ddd;
  text-align: center;
  padding: 30px 0;
}

