/*
author: Qooto
update: 2019-06-22
*/
#googleForm {
  text-align: center;
  margin: auto;
}

.contact{
  text-align: left;
}

.contact div{
  padding-bottom: 2%;
}

input#submit-button {
  padding: 5px 20px;
  font-size: 1.0em;
  background-color: #000B00;
  color: #fff;
  border-style: none;
  font-family: 'Book Antiqua', serif;
}

#success, #error {
  display: none;
}
