body {

  color: black;
  text-align: center;
  height: 100%;
  font-family: 'Book Antiqua', serif;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  text-align: center;
}

p.logo{
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

p.copyLight{
  color: #000;
}

* {
  box-sizing: border-box;
}

.css-fade {
  animation-name: fade-in-under;
  animation-duration: 1.5s; /*アニメーション時間*/
  animation-timing-function: ease-out; /*アニメーションさせるイージング*/
  animation-delay: 0s; /*アニメーション開始させる時間*/
  animation-iteration-count: 1; /*繰り返し回数*/
  animation-direction: normal; /*往復処理をするかどうか*/
  animation-fill-mode: forwards; /*アニメーション後のスタイルをどうするか*/
  opacity: 0;
}
@keyframes fade-in-under {
  0% {opacity: 0; transform: translate3d(0,20px,0);}
  100% {opacity: 1; transform: translate3d(0,0,0);}
}
.css-fade.d1 {
  animation-delay: 0.2s; /*アニメーション開始させる時間*/
}
.css-fade.d2 {
  animation-delay: 0.4s; /*アニメーション開始させる時間*/
}
.css-fade.d3 {
  animation-delay: 0.6s; /*アニメーション開始させる時間*/
}

ul{
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
}

ul li{
  display: inline-block;
  min-width: 150px;
}
ul li a{
  display: block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #555;
  font-weight: bold;
  text-align: center;
}
ul li.current{
  /*background-color: #DEEBF7;*/

}
ul li.current a{
  color: #555;
}
ul li:hover{
  background-color: #555;
}
ul li a:hover{
  color: #fff;
}
/*
nav ul{
  display: table;
  margin: 0 auto;
  padding: 0 ;
  width: 80%;
  text-align: center;
}
nav li{
  display: table-cell;
  min-width: 50px;
}
nav a{
  display: block;
  width: 100%;
  text-decoration: none;
  color: #555;
  padding-bottom: 5px;
}
nav li.current{
  border-bottom: 3px solid #92D050;
}
nav li:hover{
  color: #E7DA66;
  border-bottom: 3px solid #F0E475;
}
*/
