body {
  color: black;
  text-align: center;
  height: 100%;
  font-family: 'Book Antiqua', serif;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  text-align: center;
}

.logo{
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 20%;
  right: 0;
  left: 0;
  margin: auto;
}

.copyLight{
  color: #000;
}

* {
  box-sizing: border-box;
}

.css-fade {
  animation-name: fade-in-bottom;
  animation-duration: 1.5s; /*アニメーション時間*/
  animation-timing-function: ease-out; /*アニメーションさせるイージング*/
  animation-delay: 0s; /*アニメーション開始させる時間*/
  animation-iteration-count: 1; /*繰り返し回数*/
  animation-direction: normal; /*往復処理をするかどうか*/
  animation-fill-mode: forwards; /*アニメーション後のスタイルをどうするか*/
  opacity: 0;
}
@keyframes fade-in-bottom {
  0% {opacity: 0; transform: translate3d(0,20px,0);}
  100% {opacity: 1; transform: translate3d(0,0,0);}
}
@keyframes fade-in {
  0% {opacity: 0; transform: translate3d(0,0,0);}
  100% {opacity: 1; transform: translate3d(0,0,0);}
}
.css-fade.d1 {
  animation-delay: 0.2s; /*アニメーション開始させる時間*/
}
.css-fade.d2 {
  animation-delay: 0.4s; /*アニメーション開始させる時間*/
}
.css-fade.d3 {
  animation-delay: 0.6s; /*アニメーション開始させる時間*/
}
.css-fade.d4 {
  animation-delay: 0.8s; /*アニメーション開始させる時間*/
}
.css-fade.d5 {
  animation-delay: 1.0s; /*アニメーション開始させる時間*/
}
.css-fade.din-out {
  animation-delay: 4.0s; /*アニメーション開始させる時間*/
}
.css-fade.in-out {
  animation-name: fade-in-bottom-out-top;
  animation-duration: 3s; /*アニメーション時間*/
}
.css-fade.fade-in {
  animation-name: fade-in;
  animation-duration: 3s; /*アニメーション時間*/
}
@keyframes fade-in-bottom-out-top {
  0% {opacity: 0; transform: translate3d(0,20px,0);}
  40% {opacity: 1; transform: translate3d(0,0,0);}
  60% {opacity: 1; transform: translate3d(0,0,0);}
  100% {opacity: 0; transform: translate3d(0,-20px,0);}
}


ul{
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
}

ul li{
  display: inline-block;
  min-width: 150px;
}
ul li a{
  display: block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #555;
  font-weight: bold;
  text-align: center;
}
ul li.current{
  /*background-color: #DEEBF7;*/

}
ul li.current a{
  color: #555;
}
ul li:hover{
  background-color: #555;
}
ul li a:hover{
  color: #fff;
}


.font-size20{
  font-size: 20px;
}
.font-size30{
  font-size: 30px;
}
.font-size50 {
  font-size: 50px;
}
.back-white {
    border-radius: 30px 30px 30px 30px;
    background-color: rgba(255,255,255, 1);
}

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 50px;
  background: #3f98ef;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
