/*
author: Qooto
update: 2019-06-22
*/
body {
  text-align: left;
}
body,
#wrapper {
  display:block;
}

h1 {
  text-align:center;
}

table.work-table{

  text-align: center;
  width: 80%;
  border-spacing: 0;
  margin: 10%;
  font-size: 20px;
  -webkit-text-size-adjust: 100%;
}

table.work-table th{
  border-bottom: solid 2px #000B00;
  padding: 20px 0;
  width: 40%;
}

table.work-table td{
  border-bottom: solid 2px #ddd;
  text-align: center;
  padding: 20px 0;
}
